--
-- PostgreSQL database dump
--

\restrict tjJKhrbwFOpN573SFsVvcy8CCkUKHidQDxkEX0z4nNyeQWpSfqCRt4UdxiLDx7f

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg12+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: chunks; Type: TABLE; Schema: public; Owner: notescape
--

CREATE TABLE public.chunks (
    id integer NOT NULL,
    file_id uuid NOT NULL,
    idx integer NOT NULL,
    content text NOT NULL
);


ALTER TABLE public.chunks OWNER TO notescape;

--
-- Name: chunks_id_seq; Type: SEQUENCE; Schema: public; Owner: notescape
--

CREATE SEQUENCE public.chunks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chunks_id_seq OWNER TO notescape;

--
-- Name: chunks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: notescape
--

ALTER SEQUENCE public.chunks_id_seq OWNED BY public.chunks.id;


--
-- Name: classes; Type: TABLE; Schema: public; Owner: notescape
--

CREATE TABLE public.classes (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    subject text
);


ALTER TABLE public.classes OWNER TO notescape;

--
-- Name: classes_id_seq; Type: SEQUENCE; Schema: public; Owner: notescape
--

CREATE SEQUENCE public.classes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.classes_id_seq OWNER TO notescape;

--
-- Name: classes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: notescape
--

ALTER SEQUENCE public.classes_id_seq OWNED BY public.classes.id;


--
-- Name: embeddings; Type: TABLE; Schema: public; Owner: notescape
--

CREATE TABLE public.embeddings (
    chunk_id integer NOT NULL,
    model text NOT NULL,
    dim integer NOT NULL,
    vec public.vector(1536) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.embeddings OWNER TO notescape;

--
-- Name: file_chunks; Type: TABLE; Schema: public; Owner: notescape
--

CREATE TABLE public.file_chunks (
    id integer NOT NULL,
    file_id uuid NOT NULL,
    idx integer NOT NULL,
    content text NOT NULL,
    char_len integer DEFAULT 0 NOT NULL,
    page_start integer,
    page_end integer,
    chunk_vector public.vector(1536),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.file_chunks OWNER TO notescape;

--
-- Name: file_chunks_id_seq; Type: SEQUENCE; Schema: public; Owner: notescape
--

CREATE SEQUENCE public.file_chunks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.file_chunks_id_seq OWNER TO notescape;

--
-- Name: file_chunks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: notescape
--

ALTER SEQUENCE public.file_chunks_id_seq OWNED BY public.file_chunks.id;


--
-- Name: files; Type: TABLE; Schema: public; Owner: notescape
--

CREATE TABLE public.files (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    class_id integer NOT NULL,
    filename text NOT NULL,
    mime_type text,
    storage_url text NOT NULL,
    size_bytes bigint,
    uploaded_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.files OWNER TO notescape;

--
-- Name: flashcards; Type: TABLE; Schema: public; Owner: notescape
--

CREATE TABLE public.flashcards (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    class_id integer NOT NULL,
    source_chunk_id integer,
    question text NOT NULL,
    answer text NOT NULL,
    hint text,
    difficulty text DEFAULT 'medium'::text,
    tags text[] DEFAULT '{}'::text[],
    created_by text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT flashcards_difficulty_check CHECK ((difficulty = ANY (ARRAY['easy'::text, 'medium'::text, 'hard'::text])))
);


ALTER TABLE public.flashcards OWNER TO notescape;

--
-- Name: chunks id; Type: DEFAULT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.chunks ALTER COLUMN id SET DEFAULT nextval('public.chunks_id_seq'::regclass);


--
-- Name: classes id; Type: DEFAULT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.classes ALTER COLUMN id SET DEFAULT nextval('public.classes_id_seq'::regclass);


--
-- Name: file_chunks id; Type: DEFAULT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.file_chunks ALTER COLUMN id SET DEFAULT nextval('public.file_chunks_id_seq'::regclass);


--
-- Data for Name: chunks; Type: TABLE DATA; Schema: public; Owner: notescape
--

COPY public.chunks (id, file_id, idx, content) FROM stdin;
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: notescape
--

COPY public.classes (id, name, description, created_at, subject) FROM stdin;
3	Smoke Test	\N	2025-09-15 16:22:34.167453+00	Math
23	lubaba	\N	2025-09-18 06:11:21.114715+00	General
24	hello	\N	2025-09-18 18:24:33.088861+00	General
25	hhh	\N	2025-09-21 13:37:53.172965+00	General
\.


--
-- Data for Name: embeddings; Type: TABLE DATA; Schema: public; Owner: notescape
--

COPY public.embeddings (chunk_id, model, dim, vec, created_at) FROM stdin;
\.


--
-- Data for Name: file_chunks; Type: TABLE DATA; Schema: public; Owner: notescape
--



--
-- Data for Name: files; Type: TABLE DATA; Schema: public; Owner: notescape
--

COPY public.files (id, class_id, filename, mime_type, storage_url, size_bytes, uploaded_at) FROM stdin;
5466416a-6519-4b1d-b2a2-4572da144e95	23	Handout-2.1-Ethical-Hacking-Pentesting-and-Anonymity.pdf	application/pdf	/uploads/class_23/1758455098_Handout-2.1-Ethical-Hacking-Pentesting-and-Anonymity.pdf	3684578	2025-09-21 11:44:58.825474+00
3feb65d6-df87-4cff-b54f-1b3a12f7af55	23	Handout-2.3-Scanning-and-Vulnerability-Analysis-I.pdf	application/pdf	/uploads/class_23/1758456351_Handout-2.3-Scanning-and-Vulnerability-Analysis-I.pdf	5258900	2025-09-21 12:05:51.312999+00
\.


--
-- Data for Name: flashcards; Type: TABLE DATA; Schema: public; Owner: notescape
--



--
-- Name: chunks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: notescape
--

SELECT pg_catalog.setval('public.chunks_id_seq', 1, false);


--
-- Name: classes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: notescape
--

SELECT pg_catalog.setval('public.classes_id_seq', 25, true);


--
-- Name: file_chunks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: notescape
--

SELECT pg_catalog.setval('public.file_chunks_id_seq', 762, true);


--
-- Name: chunks chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.chunks
    ADD CONSTRAINT chunks_pkey PRIMARY KEY (id);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: embeddings embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.embeddings
    ADD CONSTRAINT embeddings_pkey PRIMARY KEY (chunk_id);


--
-- Name: file_chunks file_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.file_chunks
    ADD CONSTRAINT file_chunks_pkey PRIMARY KEY (id);


--
-- Name: files files_pkey; Type: CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_pkey PRIMARY KEY (id);


--
-- Name: flashcards flashcards_pkey; Type: CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.flashcards
    ADD CONSTRAINT flashcards_pkey PRIMARY KEY (id);


--
-- Name: file_chunks_file_idx; Type: INDEX; Schema: public; Owner: notescape
--

CREATE INDEX file_chunks_file_idx ON public.file_chunks USING btree (file_id, idx);


--
-- Name: file_chunks_vec_cosine_idx; Type: INDEX; Schema: public; Owner: notescape
--

CREATE INDEX file_chunks_vec_cosine_idx ON public.file_chunks USING ivfflat (chunk_vector public.vector_cosine_ops) WITH (lists='100');


--
-- Name: idx_embeddings_vec; Type: INDEX; Schema: public; Owner: notescape
--

CREATE INDEX idx_embeddings_vec ON public.embeddings USING ivfflat (vec public.vector_cosine_ops);


--
-- Name: chunks chunks_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.chunks
    ADD CONSTRAINT chunks_file_id_fkey FOREIGN KEY (file_id) REFERENCES public.files(id) ON DELETE CASCADE;


--
-- Name: embeddings embeddings_chunk_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.embeddings
    ADD CONSTRAINT embeddings_chunk_id_fkey FOREIGN KEY (chunk_id) REFERENCES public.chunks(id) ON DELETE CASCADE;


--
-- Name: file_chunks file_chunks_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.file_chunks
    ADD CONSTRAINT file_chunks_file_id_fkey FOREIGN KEY (file_id) REFERENCES public.files(id) ON DELETE CASCADE;


--
-- Name: files files_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: flashcards flashcards_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.flashcards
    ADD CONSTRAINT flashcards_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: flashcards flashcards_source_chunk_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: notescape
--

ALTER TABLE ONLY public.flashcards
    ADD CONSTRAINT flashcards_source_chunk_id_fkey FOREIGN KEY (source_chunk_id) REFERENCES public.file_chunks(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict tjJKhrbwFOpN573SFsVvcy8CCkUKHidQDxkEX0z4nNyeQWpSfqCRt4UdxiLDx7f

